<!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

    <script src="../../assets/vendor/picturefill.min.js?{{cacheBuster}}"></script>
    <script src="../../assets/scripts/bundle.js?{{cacheBuster}}"></script>
  </body>
</html>
